* {
  margin: 0;
  padding: 0;
}

body, html {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

p {
  font-family: cursive;
}

h1 {
  font-family: "Playfair Display", serif;
}

a {
  font-family: "Rufina", serif;
}

.header {
  position: relative;
  width: 100%;
}
.header__logo, footer .footer__logo {
  text-align: center;
  animation: cdright 3s ease forwards;
}
.header__logo img, footer .footer__logo img {
  width: 80px;
  height: 80px;
}
.header__logo b, footer .footer__logo b {
  display: block;
  color: #333;
  font-size: 30px;
}
.header__menu {
  margin-top: 30px;
  padding: 0 25%;
  animation: cdleft 3s ease forwards;
}
.header__menu a.nav-link {
  text-decoration: none;
  font-size: 14px;
  color: #263a41;
  font-weight: 600;
  cursor: pointer;
}
.header__content {
  background: none;
  padding: 150px 0;
  width: 50%;
  float: left;
}
.header__content__name {
  font-size: 15px;
  color: #ff817e;
  animation: cdleft 3s ease forwards;
}
.header__content > h1 {
  font-size: 60px;
  color: #1e2528;
  animation: cdleft 4s ease forwards;
}
.header__content > p {
  font-size: 15px;
  color: #555555;
  animation: cdleft 5s ease forwards;
}
.header__content__btn {
  display: flex;
  animation: cdleft 6s ease forwards;
}
.header__content__btn .btn {
  height: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #fff;
  background: #ff817e;
}
.header__content__btn .btn i.fa {
  margin-left: 5px;
}
.header__content__btn > div.play {
  display: flex;
  margin-left: 10px;
}
.header__content__btn > div.play > i.fa-play {
  font-size: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fcf5ee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content__btn > div.play > p {
  font-size: 15px;
  color: #555555;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 500;
}
.header__img-center {
  width: 50%;
  height: 100%;
  display: inline-block;
  animation: cdright 7s ease forwards;
}
.header__img-center img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.header__img-left {
  position: absolute;
  top: 150px;
  width: 200px;
  left: -100px;
  z-index: -1;
}
.header__img-right {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 600px;
  z-index: -1;
}

.section, .section2 {
  clear: left;
  position: relative;
  width: 100%;
}
.section__content {
  padding: 50px 0;
}
.section__content h1.-title {
  font-size: 42px;
  color: #1e2528;
  padding: 30px 0;
  margin: 0 auto;
  box-shadow: 0 0 0 0.2rem rgba(216, 219, 223, 0.25);
}
.section__content__text, .section1 .card--padding .card--text, .section6 .card--padding .card--text {
  font-size: 15px;
  color: #555555;
  margin-top: 20px;
}
.section__content__btn, .section8 .btn-submit, .form-feedback__content .btn, .section1 .card--padding a.btn, .section6 .card--padding a.btn {
  padding: 8px 30px;
  outline: none;
  background: #ff817e;
  color: #fff;
  font-size: 13px;
  border-radius: 20px;
}
.section__img-left {
  position: absolute;
  top: -30px;
  width: 100px;
  left: -30px;
  z-index: -1;
}
.section__img-right {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100px;
  z-index: -1;
}

.product {
  margin: 50px 0;
}
.product__card {
  height: 400px;
  position: relative;
  border: 1px solid #74b8f0;
}
.product__card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #080808;
  opacity: 0.4;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 0.5s;
  z-index: 1;
}
.product__card:hover:before {
  transform: scale(1);
  transform-origin: top;
}
.product__card img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product__card--content {
  position: absolute;
  top: -100px;
  left: 50%;
  transition: 0.5s;
  transform: translate(-50%);
  z-index: 10;
}
.product__card--content a {
  display: block;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
.product__card--content a i {
  color: lime;
  font-size: 30px;
  margin: 0 auto;
}
.product__card:hover .product__card--content {
  top: 50%;
  transform: translate(-50%);
}

.section-box, .section8, .section5 {
  margin: 100px 0;
  width: 100%;
}
.section-box__content {
  padding: 50px 0;
}
.section-box__content--title {
  font-size: 42px;
  color: #1e2528;
  border: 2px solid #e6e6e6;
  box-shadow: 0 0 0 0.2rem rgba(216, 219, 223, 0.25);
  padding: 30px;
  display: inline-block;
  position: relative;
  background: #fff;
}
.section-box__content--title:before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 50%;
  height: 50%;
  background: linear-gradient(45deg, pink, purple);
  z-index: -1;
}
.section-box__content--title:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.section-box__content--title:after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 50%;
  height: 50%;
  background: linear-gradient(45deg, pink, purple);
  z-index: -1;
}
.section-box__content--title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}
.section-box__content--text {
  font-size: 15px;
  color: #555555;
  text-align: justify;
}
.section-box__content__img {
  width: 100%;
  height: 150px;
  background: gray;
  border-radius: 20px;
  overflow: hidden;
}
.section-box__content__img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section1, .section6 {
  margin-bottom: 100px;
  width: 100%;
  transition: 0.5s;
}
.section1 .card:hover, .section6 .card:hover {
  transform: translateY(-5px);
}
.section1 .card--padding, .section6 .card--padding {
  padding: 10px;
  text-align: center;
}
.section1 .card--padding:hover, .section6 .card--padding:hover {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.1);
}
.section1 .card--padding .card__img--top, .section6 .card--padding .card__img--top {
  height: 200px;
  overflow: hidden;
}
.section1 .card--padding .card__img--top:hover img, .section6 .card--padding .card__img--top:hover img {
  transform: scale(1.3);
}
.section1 .card--padding .card__img--top img, .section6 .card--padding .card__img--top img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
}
.section1 .card--padding .card--title, .section6 .card--padding .card--title {
  font-size: 22px;
  color: #1e2528;
  text-align: center;
}
.section1 .card--padding .card--text, .section6 .card--padding .card--text {
  margin-bottom: 20px;
}
.section1 .card--padding a.btn, .section6 .card--padding a.btn {
  background: #333;
}
.section1 .card--padding a.btn:hover, .section6 .card--padding a.btn:hover {
  background: #ff817e;
}

.section2 {
  width: 100%;
  background-color: #fff9f8;
}
.section2 img.avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-size: cover;
  margin-top: 20px;
}
.section2 h4.title {
  font-size: 22px;
  color: #1e2528;
  margin-top: 20px;
}
.section2 span {
  font-size: 15px;
  color: #555555;
}
.section2 .carousel-indicators {
  margin-top: 100px;
}
.section2 .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-left: 5px;
}
.section2 .carousel-indicators li.active {
  background: gray;
}

.section3 {
  margin: 100px 0;
}
.section3 .card__border-none {
  border: none;
}
.section3 .card-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 10px gray;
  background: #b4a7a7;
  overflow: hidden;
}
.section3 .card-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
}
.section3 .card-img:hover img {
  transform: scale(1.3);
}

.section4 {
  margin: 100px 0;
}
.section4 .card {
  width: 100%;
  height: 435px;
  position: relative;
}
.section4 .card img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section4 .card__bottom {
  position: absolute;
  left: 30px;
  bottom: -40px;
  transition: 0.5s;
  width: calc(100% - 2*30px);
  height: 80px;
  padding: 20px;
}
.section4 .card__bottom ._1 {
  transition: 0.5s;
  z-index: 10;
}
.section4 .card__bottom ._1--title {
  font-size: 22px;
  color: #1e2528;
  margin-top: 20px;
}
.section4 .card__bottom ._1--text {
  font-size: 15px;
  color: #555555;
}
.section4 .card__bottom ._1, .section4 .card__bottom ._2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.section4 .card__bottom ._2 {
  transition: 0.5s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px gray;
}
.section4 .card__bottom ._2 i.fa {
  font-size: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fcf5ee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .card__bottom ._2 i.fa:hover:nth-child(1) {
  background: blue;
  color: #fff;
}
.section4 .card__bottom ._2 i.fa:hover:nth-child(2) {
  background: #b92e97;
  color: #fff;
}
.section4 .card__bottom ._2 i.fa:hover:nth-child(3) {
  background: #2bd6d6;
  color: #fff;
}
.section4 .card__bottom ._2 i.fa:hover:nth-child(4) {
  background: #32ce47;
  color: #fff;
}
.section4 .card__bottom:hover ._1 {
  bottom: 40px;
}
.section4 .card__bottom:hover ._2 {
  bottom: -40px;
  opacity: 1;
}

.form-feedback {
  margin-top: 200px;
  background: #fff9f8;
}
.form-feedback__img-box {
  width: 100%;
  height: 100%;
}
.form-feedback__img-box img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form-feedback__content {
  padding: 100px;
}
.form-feedback__content .form-input {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #e2e2e2;
}
.form-feedback__content .form-input:not(select)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transition: transform 0.5s;
  z-index: 100;
  background: #ff817e;
  transform-origin: right;
  transform: scaleX(0);
}
.form-feedback__content .form-input:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}
.form-feedback__content input, .form-feedback__content select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  transition: 0.5s;
  background: #fff9f8;
}
.form-feedback .col {
  padding-left: 0;
}

.section6 .card--text_small {
  font-size: 12px;
  color: #555555;
  font-weight: initial;
}

.section7 {
  border-bottom: 2px solid gray;
}
.section7 h3.title {
  font-size: 30px;
  color: #555555;
  border-bottom: 2px solid gray;
}
.section7 ul {
  list-style: none;
}
.section7 ul li {
  padding: 5px;
  position: relative;
}
.section7 ul li:before {
  position: absolute;
  content: "+";
  top: 0;
  left: -10px;
  width: 10px;
}
.section7 ul li a {
  color: #555555;
  font-size: 16px;
}

.section8 i.fa {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 12px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fcf5ee;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff817e;
  color: #fff;
}
.section8 p.title {
  padding-left: 30px;
  padding-top: 10px;
}
.section8 .border--pink {
  border: 2px solid #ff817e;
}

footer {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9f8;
  text-align: center;
}
footer .footer {
  width: 60%;
  margin: 0 auto;
}
footer .footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
}
footer .footer__menu-item {
  text-decoration: none;
  font-size: 14px;
  color: #263a41;
  font-weight: 600;
  cursor: pointer;
  padding: 0 30px;
}
footer .footer__icon {
  margin: 20px 0;
}
footer .footer__icon i.fa {
  padding: 0 10px;
}
footer .footer__icon i.fa:not(:last-child) {
  border-right: 1px solid #aaaaaa;
}
footer .footer__icon i.fa:hover:nth-child(1) {
  color: blue;
}
footer .footer__icon i.fa:hover:nth-child(2) {
  color: #e43232;
}
footer .footer__icon i.fa:hover:nth-child(3) {
  color: #c938a9;
}
footer .footer__icon i.fa:hover:nth-child(4) {
  color: #1ed856;
}
footer .footer p {
  font-size: 13px;
  font-weight: 700px;
}
footer .footer p a {
  color: red;
}

.menu-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  transition: 0.5s;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.1);
}
.menu-right:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.menu-right__logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.menu-right__logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.menu-right__search {
  width: 100%;
}
.menu-right__search input {
  padding: 5px 20px;
  width: 100%;
  border-radius: 20px;
  outline: none;
}
.menu-right .list {
  margin-top: 50px;
}
.menu-right .list__item {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.menu-right .list__item:hover {
  color: #cf3d92;
}

.toggle-menu .menu-right {
  width: 300px;
}

.toggle-menu #btn_click_right {
  transform: rotate(180deg);
}

.btn-scroll {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.btn-scroll > div {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #9e1e1e;
}
.btn-scroll > div .btn-scroll__top {
  font-size: 20px;
  color: red;
  animation: updown 2s ease infinite;
}
.btn-scroll > div .btn_click_right {
  font-size: 20px;
  color: #3f16d1;
  animation: goleft 2s ease infinite;
}
.btn-scroll > div .btn_click_chat {
  font-size: 20px;
  color: #3187ce;
  animation: goleft 2s ease infinite;
}

.message_chat_bot {
  position: fixed;
  bottom: 0;
  right: 80px;
  width: 300px;
  height: 450px;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.5s;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  box-sizing: border-box;
  overflow: hidden;
}
.message_chat_bot .chat__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 10px;
  box-shadow: 0 0 5px gray;
  display: flex;
  justify-content: space-between;
}
.message_chat_bot .chat__top__1 img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.message_chat_bot .chat__top__2 img {
  padding-left: 5px;
}
.message_chat_bot .chat__mid__profile {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}
.message_chat_bot .chat__mid__profile img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.message_chat_bot .chat__mid__content {
  position: absolute;
  bottom: 80px;
  right: 20px;
}
.message_chat_bot .chat__mid__content p {
  padding: 5px;
  border-radius: 20px;
  background: #5d46dd;
  color: #fff;
  text-align: right;
  position: relative;
}
.message_chat_bot .chat__mid__content p:before {
  content: "";
  position: absolute;
  top: 10px;
  right: -16px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: url(./../img/icon/hoa1.png) no-repeat;
  background-size: cover;
}
.message_chat_bot .chat__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px gray;
}
.message_chat_bot .chat__bottom i:not(:first-child) {
  padding-left: 10px;
  padding-right: 10px;
}
.message_chat_bot .chat__bottom i {
  color: blue;
}
.message_chat_bot .chat__bottom__group-input {
  width: 50%;
  position: relative;
}
.message_chat_bot .chat__bottom__group-input input {
  width: 100%;
  border-radius: 20px;
  display: inline;
  padding: 0 30px;
}
.message_chat_bot .chat__bottom__group-input .fa1 {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
}
.message_chat_bot .chat__bottom__group-input .fa2 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
}

.toggle-form-chat .message_chat_bot {
  transform: scale(1);
  transform-origin: right;
}

.small-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  display: none;
  z-index: 1;
}

.large-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid red;
  display: none;
  z-index: 1;
}

.load {
  opacity: 0;
}

.goload {
  animation: cdleft 3s ease forwards;
}

.goload1 {
  animation: cdright 3s ease forwards;
}

@keyframes cdleft {
  from {
    /* clip-path: circle(0% at center); */
    transform: translateX(-500px);
    opacity: 0.3;
  }
  to {
    /* clip-path: circle(100% at center); */
    transform: translateX(0px);
    opacity: 1;
    transition-delay: 0.3s;
  }
}
@keyframes cdright {
  from {
    /* clip-path: circle(0% at center); */
    transform: translateX(500px);
    opacity: 0.3;
  }
  to {
    /* clip-path: circle(100% at center); */
    transform: translateX(0px);
    opacity: 1;
    transition-delay: 0.3s;
  }
}
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes goleft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

/*# sourceMappingURL=style.css.map */
